reset, body, body #main #infoCard #plot1P,
body #main #infoCard #plot2P,
body #main #infoCard #plot3P, body #main, body #main #gen1 .season .returnButton h2 {
  margin: 0;
  padding: 0;
}

html {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 0px;
}

body {
  scroll-snap-type: x mandatory;
}

body #main {
  height: 100vh;
  width: 300vw;
  background-color: red;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body #main #seasonMenu {
  display: none;
  position: absolute;
  width: 40vw;
  height: 10vw;
  left: 30vw;
  top: 1vw;
  background-color: black;
  z-index: 10;
  grid-template-columns: repeat(5, 1fr);
}

body #main #seasonMenu .menuItem {
  background-color: white;
  transform: scale(0.9);
}

body #main #gameCard {
  position: absolute;
  width: 44vw;
  height: 65vh;
  background-color: black;
  top: 5vw;
  left: 28vw;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

body #main #gameCard:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url("cardback.339fdb49.jpg") no-repeat center;
  transform: rotate(90deg) scale(1.2);
}

body #main #svgInfo {
  width: 100vw;
  height: 10vh;
  position: absolute;
  bottom: 2vw;
  pointer-events: none;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transition: 0.3s;
  opacity: 0;
}

body #main #svgInfo h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
}

body #main #infoCard {
  position: absolute;
  width: 44vw;
  height: 65vh;
  background-color: black;
  top: 5vw;
  left: 28vw;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: rotateY(-90deg);
}

body #main #infoCard #plot1P,
body #main #infoCard #plot2P,
body #main #infoCard #plot3P {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
}

body #main .showPlot {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  transform: scale(0.9);
}

body #main .showChar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  transform: scale(0.9);
}

body #main .char {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

body #main .char img {
  width: 23.3vw;
  height: 10vw;
  margin: auto;
}

body #main .char h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 3em;
}

body #main .char p {
  color: white;
  font-size: 1.2em;
  padding: 1vw;
}

body #main .showCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transform: scale(0.9);
}

body #main .showCard img {
  width: 15vw;
  margin-left: 5.9vw;
}

body #main .showCard h1 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body #main .showCard p {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

body #main .showInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

body #main .showInfo p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  margin-top: 10vw;
}

body #main #logo {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

body #main #logo h1 {
  font-family: "Trade Winds", cursive;
  color: white;
  position: absolute;
  top: 2vw;
  font-size: 3.7em;
  left: 20vw;
  transform: rotate(-30deg);
  pointer-events: none;
}

body #main #gen1 {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

body #main #gen1 .season {
  background-color: black;
  opacity: 0.4;
  height: 100vh;
  width: 20vw;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

body #main #gen1 .season .returnButton {
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5vw;
  width: 10vw;
  color: white;
  font-family: "Roboto", sans-serif;
}

body #main #gen1 .season .returnButton h2 {
  margin-top: 0.5vw;
}

body #main #gen1 .season .returnButton img {
  transform: rotate(180deg);
  width: 5vw;
}

body #main #gen1 .season:hover {
  opacity: 1;
  z-index: 2;
}

body #main #gen1 .season .seasonTooltip {
  color: white;
  font-size: 3em;
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 2vw;
  width: 100%;
  background-color: black;
  text-align: center;
  pointer-events: none;
}

body #main #gen1 #season1 {
  background-image: url("pegasus.28bc6a09.jpg");
  background-position: 90% 0%;
}

body #main #gen1 #season1 #svg1,
body #main #gen1 #season1 #svg2,
body #main #gen1 #season1 #svg3,
body #main #gen1 #season1 #svg4,
body #main #gen1 #season1 #svg5 {
  position: absolute;
  bottom: 2vw;
  width: 100%;
}

body #main #gen1 #season1 #svg1 .svgGroup,
body #main #gen1 #season1 #svg2 .svgGroup,
body #main #gen1 #season1 #svg3 .svgGroup,
body #main #gen1 #season1 #svg4 .svgGroup,
body #main #gen1 #season1 #svg5 .svgGroup {
  opacity: 0;
}

body #main #gen1 #season1 #svg1 .svgGroup:hover,
body #main #gen1 #season1 #svg2 .svgGroup:hover,
body #main #gen1 #season1 #svg3 .svgGroup:hover,
body #main #gen1 #season1 #svg4 .svgGroup:hover,
body #main #gen1 #season1 #svg5 .svgGroup:hover {
  cursor: pointer;
}

body #main #gen1 #season1 #svg1 .bulletPoint,
body #main #gen1 #season1 #svg2 .bulletPoint,
body #main #gen1 #season1 #svg3 .bulletPoint,
body #main #gen1 #season1 #svg4 .bulletPoint,
body #main #gen1 #season1 #svg5 .bulletPoint {
  position: absolute;
  transform-origin: 50% 50%;
  fill: red;
}

body #main #gen1 #season1 #svg1 #svgCircle1,
body #main #gen1 #season1 #svg2 #svgCircle1,
body #main #gen1 #season1 #svg3 #svgCircle1,
body #main #gen1 #season1 #svg4 #svgCircle1,
body #main #gen1 #season1 #svg5 #svgCircle1 {
  cx: 170;
  cy: 75;
  r: 40;
  z-index: 1;
}

body #main #gen1 #season1 #svg1 #svgInnerCircle1,
body #main #gen1 #season1 #svg2 #svgInnerCircle1,
body #main #gen1 #season1 #svg3 #svgInnerCircle1,
body #main #gen1 #season1 #svg4 #svgInnerCircle1,
body #main #gen1 #season1 #svg5 #svgInnerCircle1 {
  position: relative;
  fill: black;
  cx: 170;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season1 #svg1 #svgCircle2,
body #main #gen1 #season1 #svg2 #svgCircle2,
body #main #gen1 #season1 #svg3 #svgCircle2,
body #main #gen1 #season1 #svg4 #svgCircle2,
body #main #gen1 #season1 #svg5 #svgCircle2 {
  cx: 500;
  cy: 75;
  r: 40;
}

body #main #gen1 #season1 #svg1 #svgInnerCircle2,
body #main #gen1 #season1 #svg2 #svgInnerCircle2,
body #main #gen1 #season1 #svg3 #svgInnerCircle2,
body #main #gen1 #season1 #svg4 #svgInnerCircle2,
body #main #gen1 #season1 #svg5 #svgInnerCircle2 {
  position: relative;
  fill: black;
  cx: 500;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season1 #svg1 #svgCircle3,
body #main #gen1 #season1 #svg2 #svgCircle3,
body #main #gen1 #season1 #svg3 #svgCircle3,
body #main #gen1 #season1 #svg4 #svgCircle3,
body #main #gen1 #season1 #svg5 #svgCircle3 {
  cx: 1300;
  cy: 75;
  r: 40;
}

body #main #gen1 #season1 #svg1 #svgInnerCircle3,
body #main #gen1 #season1 #svg2 #svgInnerCircle3,
body #main #gen1 #season1 #svg3 #svgInnerCircle3,
body #main #gen1 #season1 #svg4 #svgInnerCircle3,
body #main #gen1 #season1 #svg5 #svgInnerCircle3 {
  position: relative;
  fill: black;
  cx: 1300;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season1 #svg1 #svgCircle4,
body #main #gen1 #season1 #svg2 #svgCircle4,
body #main #gen1 #season1 #svg3 #svgCircle4,
body #main #gen1 #season1 #svg4 #svgCircle4,
body #main #gen1 #season1 #svg5 #svgCircle4 {
  cx: 1650;
  cy: 75;
  r: 40;
}

body #main #gen1 #season1 #svg1 #svgInnerCircle4,
body #main #gen1 #season1 #svg2 #svgInnerCircle4,
body #main #gen1 #season1 #svg3 #svgInnerCircle4,
body #main #gen1 #season1 #svg4 #svgInnerCircle4,
body #main #gen1 #season1 #svg5 #svgInnerCircle4 {
  position: relative;
  fill: black;
  cx: 1650;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season2 {
  background-image: url("marik.e1b699c3.png");
  background-position: center;
}

body #main #gen1 #season2 #svg2 {
  position: absolute;
  bottom: 2vw;
  width: 100%;
}

body #main #gen1 #season2 #svg2 .svgGroup {
  opacity: 0;
}

body #main #gen1 #season2 #svg2 .bulletPoint {
  position: absolute;
  transform-origin: 50% 50%;
  fill: red;
}

body #main #gen1 #season2 #svg2 #svgCircle1 {
  cx: 170;
  cy: 75;
  r: 40;
  z-index: 1;
}

body #main #gen1 #season2 #svg2 #svgInnerCircle1 {
  position: relative;
  fill: black;
  cx: 170;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season2 #svg2 #svgCircle2 {
  cx: 500;
  cy: 75;
  r: 40;
}

body #main #gen1 #season2 #svg2 #svgInnerCircle2 {
  position: relative;
  fill: black;
  cx: 500;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season2 #svg2 #svgCircle3 {
  cx: 1300;
  cy: 75;
  r: 40;
}

body #main #gen1 #season2 #svg2 #svgInnerCircle3 {
  position: relative;
  fill: black;
  cx: 1300;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season2 #svg2 #svgCircle4 {
  cx: 1650;
  cy: 75;
  r: 40;
}

body #main #gen1 #season2 #svg2 #svgInnerCircle4 {
  position: relative;
  fill: black;
  cx: 1650;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season3 {
  background-image: url("noah.64d12cb2.jpg");
  background-position: center;
}

body #main #gen1 #season3 #svg3 {
  position: absolute;
  bottom: 2vw;
  width: 100%;
}

body #main #gen1 #season3 #svg3 .svgGroup {
  opacity: 0;
}

body #main #gen1 #season3 #svg3 .bulletPoint {
  position: absolute;
  transform-origin: 50% 50%;
  fill: red;
}

body #main #gen1 #season3 #svg3 #svgCircle1 {
  cx: 170;
  cy: 75;
  r: 40;
  z-index: 1;
}

body #main #gen1 #season3 #svg3 #svgInnerCircle1 {
  position: relative;
  fill: black;
  cx: 170;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season3 #svg3 #svgCircle2 {
  cx: 500;
  cy: 75;
  r: 40;
}

body #main #gen1 #season3 #svg3 #svgInnerCircle2 {
  position: relative;
  fill: black;
  cx: 500;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season3 #svg3 #svgCircle3 {
  cx: 1300;
  cy: 75;
  r: 40;
}

body #main #gen1 #season3 #svg3 #svgInnerCircle3 {
  position: relative;
  fill: black;
  cx: 1300;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season3 #svg3 #svgCircle4 {
  cx: 1650;
  cy: 75;
  r: 40;
}

body #main #gen1 #season3 #svg3 #svgInnerCircle4 {
  position: relative;
  fill: black;
  cx: 1650;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season4 {
  background-image: url("dartz.120dce3e.jpg");
  background-position: 70% 50%;
  background-size: cover;
}

body #main #gen1 #season4 #svg4 {
  position: absolute;
  bottom: 2vw;
  width: 100%;
}

body #main #gen1 #season4 #svg4 .svgGroup {
  opacity: 0;
}

body #main #gen1 #season4 #svg4 .bulletPoint {
  position: absolute;
  transform-origin: 50% 50%;
  fill: red;
}

body #main #gen1 #season4 #svg4 #svgCircle1 {
  cx: 170;
  cy: 75;
  r: 40;
  z-index: 1;
}

body #main #gen1 #season4 #svg4 #svgInnerCircle1 {
  position: relative;
  fill: black;
  cx: 170;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season4 #svg4 #svgCircle2 {
  cx: 500;
  cy: 75;
  r: 40;
}

body #main #gen1 #season4 #svg4 #svgInnerCircle2 {
  position: relative;
  fill: black;
  cx: 500;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season4 #svg4 #svgCircle3 {
  cx: 1300;
  cy: 75;
  r: 40;
}

body #main #gen1 #season4 #svg4 #svgInnerCircle3 {
  position: relative;
  fill: black;
  cx: 1300;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season4 #svg4 #svgCircle4 {
  cx: 1650;
  cy: 75;
  r: 40;
}

body #main #gen1 #season4 #svg4 #svgInnerCircle4 {
  position: relative;
  fill: black;
  cx: 1650;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season5 {
  background-image: url("bakura.e7bda6e8.png");
  background-position: 50% 50%;
}

body #main #gen1 #season5 #svg5 {
  position: absolute;
  bottom: 2vw;
  width: 100%;
}

body #main #gen1 #season5 #svg5 .svgGroup {
  opacity: 0;
}

body #main #gen1 #season5 #svg5 .bulletPoint {
  position: absolute;
  transform-origin: 50% 50%;
  fill: red;
}

body #main #gen1 #season5 #svg5 #svgCircle1 {
  cx: 170;
  cy: 75;
  r: 40;
  z-index: 1;
}

body #main #gen1 #season5 #svg5 #svgInnerCircle1 {
  position: relative;
  fill: black;
  cx: 170;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season5 #svg5 #svgCircle2 {
  cx: 500;
  cy: 75;
  r: 40;
}

body #main #gen1 #season5 #svg5 #svgInnerCircle2 {
  position: relative;
  fill: black;
  cx: 500;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season5 #svg5 #svgCircle3 {
  cx: 1300;
  cy: 75;
  r: 40;
}

body #main #gen1 #season5 #svg5 #svgInnerCircle3 {
  position: relative;
  fill: black;
  cx: 1300;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen1 #season5 #svg5 #svgCircle4 {
  cx: 1650;
  cy: 75;
  r: 40;
}

body #main #gen1 #season5 #svg5 #svgInnerCircle4 {
  position: relative;
  fill: black;
  cx: 1650;
  cy: 75;
  r: 30;
  z-index: 2;
}

body #main #gen2 {
  background-color: green;
}


/*# sourceMappingURL=/output.c16d2514.css.map */